.leaflet-map-tooltip__container {
  background: white;
  padding: $xs-size;
  font-size: $size-7;
  line-height: 1.5;
  width: 220px;
}

.leaflet-map-tooltip__label-container {
  margin-bottom: 5px;
}

.leaflet-map-tooltip__label {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: normal;
}

.leaflet-map-tooltip__sub-label {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  white-space: normal;
}

.leaflet-map-tooltip__flex-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: right;
  font-size: $size-7;

}

.leaflet-map-tooltip__flex-grid-row {
  width: 100%;
  flex: 1 1 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
  align-items: flex-end;
  justify-content: space-between;

  .leaflet-map-tooltip__flex-grid-cell:first-child {
    font-weight: 600;
    flex: 0 0 percentage(2/3);
    text-align: left;
  }
  .leaflet-map-tooltip__flex-grid-cell:nth-child(2) {
    text-align: left;
    flex: 0 0 percentage(1/3);
  }
  &:last-child {
    border-bottom: 0;
  }
}

.leaflet-map-tooltip__flex-grid-cell {
  text-align: left;
  display: block;
  white-space: normal;
  position: relative;

  &:last-child {
    padding-right: 0;
  }
}