.range-slider__container {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.range-slider__title-container {
  margin-bottom: $xs-size;
}

.range-slider__title-icon {
  opacity: 0.4;
}

// OVERRIDE RANGE SLIDER
.rangeslider-horizontal {
  margin-top: 10px;

  .rangeslider__fill {
    background-color: $blue-sub1;
  }
}

.rangeslider__handle {
  .rangeslider__handle-tooltip {
    width: 70px;
  }
}

// OVERRIDE D3
.range-slider__axis {
  .domain {
    display: none;
  }
}
