.slider-labels__container {
  width: 100%;
  height: 30px;
  position: relative;
  padding: 0 15px; // offset needed to be in line with rangeslider
}

.slider-labels__container-inner {
  top: 0px;
  position: relative;
}

.slider-labels__box-container {
  position: absolute;
  width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-labels__box {
  right: 1px;
  // max-width: 200px;
  width: 150px;
	position: relative;
	background: #fff;
  padding: 3px 0 0 0;
  font-size: $size-7;
  white-space: nowrap;
}
.slider-labels__box:after, .slider-labels__box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.slider-labels__box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #42A5B3;
	border-width: 10px;
	margin-left: -10px;
}